body
{
	background-color: black;
	color: white;
	font-family: sans-serif;
	margin: auto;
	width: 1000px;
	max-width: 80%;
}

h1
{
	text-align: center;
	margin-top: 2px;
}

h2
{
	text-align: center;
}

a
{
	text-decoration: none;
	color: #FFFB5F;
}

a:hover
{
	text-decoration: underline;
}

textarea
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

div.center
{
	text-align: center;
}

table
{
	display: block;
	border: 1px solid;
	width: 800px;
	height: 500px;
	overflow-x: auto;
	overflow-y: scroll;
	font-size: 0.7em;
}

.evenodd tr:nth-child(odd)
{
	background-color: #202020;
}

